@import url("https://fonts.googleapis.com/css?family=Charmonman|Manrope|Roboto&display=swap");

$logofont: 'Charmonman', cursive;
$headingfont: 'Roboto', sans-serif;
$textfont: 'Manrope', sans-serif;

