footer{
    background-color: $head-foot-backgroundColor;
    margin-top: 0.3rem;
}

footer p{
    text-align: center;
    color: $active-link-color;
    padding-top: 1.5rem;
    font-family: $headingfont;
    font-size: 0.8em;
}
@media (max-width:$media-breakpoint-ipadPro) {
    footer{
        margin-top: 7.25rem;
    }
     footer p{
    font-size: 1em;
    }
} 
@media (max-width:$media-breakpoint-ipad) {
    footer{
        margin-top: 4.5rem;
    }
    footer p{
    font-size: 0.8em;
    }
} 

@media (max-width:$media-breakpoint-iphone6-7-8plus) {
    footer{
        margin-top: 0.8rem;
    }
    footer p{
    font-size: 0.6em;
    }
} 