.carousel-indicators .active {
	background-color: $carsouel-indicator-color;
}

.nav-tabs {
    margin-top: 3rem;
    
}

.tab-pane {
	&__img {
		float: left;
		padding-top: 2rem;
		padding-left: 3rem;
	}

	&__text {
		float: right;
		padding-top: 4rem;
		width: 52%;
		font-family: $textfont;
		font-size: $text-font-size;
		word-spacing: $text-word-spacing;
    }
    &__galleryColumns {
        padding-top: 3rem;
        padding-left: 3rem;
        float: left;
        &__img {
            padding-top: 0.3rem;
        }
    }    
}


.container {
    padding-bottom: 5rem;

}
.smallScreenContent{
    display:none;
}


//media query
@media (max-width:$media-breakpoint-ipadPro) {
    .carousel__img{
        width: 100%;
        height: 35vh;
    }
    .smallScreenContent{
        display: none;
    }  
    .nav-tabs{
        font-size: 1.5em;
        font-family: $headingfont;
    }
    .tab-pane {
        &__img {
           width: 60%;
        }
        &__text {
           padding-top: 2rem;
            width: 35%;
            font-size: 1.4em;
        } 
        &__galleryColumns {
            padding-left: 1rem;
                &__img {
                width:48%;
                padding-top: 0.5rem;
            }
        }      
    }     
}

@media (max-width:$media-breakpoint-ipad) {
    .carousel__img{
        width: 100%;
        height: 35vh;
    } 

    .smallScreenContent{
        display: none;
    }  
    .tab-pane {
        &__img {
           width: 60%;
        }
        &__text {
            float: right;
            padding-top: 2rem;
            width: 35%;
            font-size: 1em;
        } 
        &__galleryColumns {
            padding-left: 1rem;
                &__img {
                width:48%;
                padding-top: 0.5rem;
            }
        }      
    }    
}



@media (max-width:$media-breakpoint-iphone6-7-8plus) {
    .carousel__img{
        width: 100%;
        height: 26vh;
    }
      
    .bigScreenSizeContent{
        display: none;
    }
    .smallScreenContent{
        display: block;
        padding-top:1rem;
        &__insideColumns{
            &__heading2{
                font-family: $headingfont;
                font-size: 1.2em;
                font-weight: bold;
                padding-top: 1rem;
            }
            &__img{
                width: 92%;
                margin-left: 0.8rem;
            }
            &__paraText{
                padding-top: 1rem;
                font-size: 0.8em;
                font-family: $textfont;
            }
            &__galleryColumns{
                &__img{
                    width: 92%;
                    padding-top: 0.3rem;
                    margin-left: 0.8rem;
                }
            }
        }
    }
}
@media (max-width:$media-breakpoint-pixel2) {
    .carousel__img{
        width: 100%;
        height: 28vh;
    }
    .bigScreenSizeContent{
        display: none;
    }
    
    .smallScreenContent{
        display: block;
        padding-top:1rem;
        
        &__insideColumns{
            &__heading2{
                font-family: $headingfont;
                font-size: 1.2em;
                font-weight: bold;
                padding-top: 1rem;
            }
            &__img{
                width: 92%;
                margin-left: 0.8rem;
            }
            &__paraText{
                padding-top: 1rem;
                font-size: 0.8em;
                font-family: $textfont;
            }
            &__galleryColumns{
                &__img{
                    width: 92%;
                    padding-top: 0.3rem;
                margin-left: 0.8rem;
                }
            }
        }
    } 
}

@media (max-width:$media-breakpoint-small-screen) {
    .carousel__img{
        width: 100%;
        height: 26vh;
    }
      
    
    .bigScreenSizeContent{
        display: none;
    }
    
    .smallScreenContent{
        display: block;
        padding-top:1rem;
        &__insideColumns{
            &__heading2{
                font-family: $headingfont;
                font-size: 1.2em;
                font-weight: bold;
                padding-top: 1rem;
            }
            &__img{
                width: 92%;
                margin-left: 0.8rem;
            }
            &__paraText{
                padding-top: 1rem;
                font-size: 0.8em;
                font-family: $textfont;
            }
            &__galleryColumns{
                &__img{
                    width: 92%;
                    padding-top: 0.3rem;
                margin-left: 0.8rem;
                }
            }
        }
    }
    
}
@media (max-width:$media-breakpoint-iphoneSE) {
    .smallScreenContent{
        padding-top:0.5rem;
        &__insideColumns{
            &__heading2{
                
                font-size: 1em;
                
                
            }
        }
    }
}