$head-foot-backgroundColor:#26BDCC;
$logo-color:#FFC600;
$activehover-color:#D85930;	
$active-link-color:#FFFFFF;
$visited-link-color:#000000;

$carsouel-indicator-color:#E18453;

$text-word-spacing:0.2rem;
$text-font-size: 0.9em;
$heading1-font-size:1.6em;
$heading2-font-size:1.5em;
$heading3-font-size:1em;
$guideName-font-size:1em;
$testimonialText-font-size:0.8em;

$button-background-color:#8C041D;


//media brakpoints
$media-breakpoint-iphoneSE:320px;
$media-breakpoint-small-screen:360px;
$media-breakpoint-iphone6-7-8:375px;
$media-breakpoint-pixel2:411px;
$media-breakpoint-iphone6-7-8plus:414px;
$media-breakpoint-ipad:768px;
$media-breakpoint-ipadPro:1024px;





 //media screen font size
$heading1-font-size-small-screen:1.3em;
$heading2-font-size-small-screen:1.2em;
$heading3-font-size-small-screen:0.9em;
$text-font-size-small-screen:0.7em;
$inputTextBox-font-size:0.6em;
$buttonText-font-size-small-screen:0.8em;
$guideName-font-size-small-screen:0.9em;


